workflows/veganster-blog-auto-deploy.json
{
  "name": "Veganster Blog Auto Deploy",
  "nodes": [
    {
      "id": "read-sheets",
      "name": "Read Veganster Topics",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        400
      ],
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1lai3EIfvYD6t_FLL6uYZKCMAx5-6Yeepgnlh40OVMlo"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "0",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lai3EIfvYD6t_FLL6uYZKCMAx5-6Yeepgnlh40OVMlo/edit#gid=0"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aPlOnNF1lEPwYkVQ",
          "name": "Google Sheets account"
        }
      },
      "onError": "stopWorkflow"
    },
    {
      "id": "find-pending",
      "name": "Find First Pending Topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        400
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items || items.length === 0) {\n  throw new Error('No data received from Google Sheets. Check the sheet ID, tab name, and permissions.');\n}\nfor (let i = 0; i < items.length; i++) {\n  const row = items[i].json;\n  const keys = Object.keys(row).filter(k => k !== 'row_number');\n  const colA = keys[0];\n  const colB = keys[1];\n  const colC = keys.length > 2 ? keys[2] : null;\n  if (colB && row[colB] && row[colB].toString().toLowerCase().trim() === 'pending' && row[colA] && row[colA].toString().trim()) {\n    const topic = row[colA].toString().trim();\n    return [{json:{topic, rowNumber: row.row_number || (i + 2), colA, colB, colC}}];\n  }\n}\nthrow new Error('No pending topics found in the Veganster Topics sheet.');"
      },
      "onError": "stopWorkflow"
    },
    {
      "id": "inject-date",
      "name": "Inject Today's Date",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        400
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "topic",
              "value": "={{ $json.topic }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "rowNumber",
              "value": "={{ $json.rowNumber }}",
              "type": "number"
            },
            {
              "id": "f3",
              "name": "colA",
              "value": "={{ $json.colA }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "colB",
              "value": "={{ $json.colB }}",
              "type": "string"
            },
            {
              "id": "f5",
              "name": "colC",
              "value": "={{ $json.colC }}",
              "type": "string"
            },
            {
              "id": "f6",
              "name": "todayDate",
              "value": "={{ $now.toFormat('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "generate-blog",
      "name": "Generate Veganster Blog with Gemini",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1024,
        400
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Write a plant-based wellness blog post for Veganster — a plant-based living and wellness website. The topic is: {{ $json.topic }}\nCONTENT SAFETY RULES — these override every other instruction, follow them exactly:\n- Do NOT claim any food, drink, or diet treats, cures, prevents, heals, boosts, detoxes, or reduces any disease, symptom, or medical condition.\n- BAN these and similar phrases: \"boosts immunity\", \"detox\", \"cleanse your system\", \"reduces inflammation\", \"anti-inflammatory benefits\", \"balances hormones\", \"fights disease\", \"clears skin\", \"lowers cortisol\", \"heals\".\n- Do NOT invent statistics, percentages, study results, or \"research shows\" / \"studies prove\" claims.\n- Describe foods by flavour, texture, ingredients, and general everyday nutrition (e.g. \"lentils are a good source of protein and fibre\") — never by medical outcome.\n- Write as general food and lifestyle information, not health or medical advice.\nUse this exact frontmatter structure:\n---\ntitle: \"[title]\"\nexcerpt: [one sentence summary without quotes]\ndate: \"{{ $json.todayDate }}\"\nauthor: [choose one: \"Dr. Maya Green\" or \"Dr. James Liu\" or \"Dr. Sarah Chen\" — pick whichever fits the topic best]\ncategory: [choose one: Nutrition, Wellness, or Lifestyle]\ncoverImage: UNSPLASH_PLACEHOLDER\ncoverImageAlt: [detailed descriptive alt text of what the ideal cover photo would show]\ncoverImageCredit: CREDIT_PLACEHOLDER\ncoverImageCreditUrl: CREDIT_URL_PLACEHOLDER\nreadTime: [estimated read time, e.g. \"8 min read\"]\ndescription: \"[one to two sentence SEO description]\"\ntags:\n  - [tag1]\n  - [tag2]\n  - [tag3]\n  - [tag4]\n---\nFollow this exact content structure:\n- Open with a 2-3 sentence hook paragraph in plain prose. No heading. Present a surprising fact, common misconception, or relatable problem related to the topic.\n- Use ## for main section headings and ### for subsections when natural — never #### or deeper\n- Write in flowing prose paragraphs, with markdown formatting where it adds value: **bold** for key terms (max 2-3 per section), *italic* for emphasis or technical terms, and > for blockquotes when citing studies or expert advice\n- Use `-` (hyphen) for unordered lists, NEVER `*` (asterisk). Reserve bullets for 4+ items; otherwise prefer prose. Numbered lists (1. 2. 3.) are fine when sequence matters\n- Include one concrete, practical detail per major section (a prep tip, an ingredient swap, or a serving idea). Do NOT invent statistics, percentages, or \"studies show\" claims.\n- End the last section with exactly 2 related article links. Pick 2 from the list below and copy the markdown VERBATIM — do not modify, rephrase, shorten, or regenerate the slugs in any way. Use the exact text and exact URL shown:\n  - [10 Plant Proteins That Beat Meat](/blog/plant-proteins-that-beat-meat)\n  - [The Science Behind Gut Health](/blog/science-behind-gut-health)\n  - [A Beginner's Guide to Going Vegan](/blog/beginners-guide-to-going-vegan)\n  - [7 Superfoods You Should Eat Daily](/blog/superfoods-you-should-eat-daily)\n  - [Vegan Meal Prep for Busy Weekdays](/blog/meal-prep-for-busy-weekdays)\n  - [The Ultimate Anti-Inflammatory Foods Guide](/blog/anti-inflammatory-foods-guide)\n- Total length: 700-900 words\n- Tone: warm, knowledgeable, and practical — like a friend who loves cooking plant-based food. Not clinical, and not a health authority.\n- Output only raw markdown — no code fences, no explanation, nothing before the frontmatter dashes.",
        "batching": {}
      },
      "onError": "stopWorkflow"
    },
    {
      "id": "gemini-model",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1024,
        624
      ],
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "credentials": {
        "googlePalmApi": {
          "id": "ctwWGjnx3iat3Soe",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "id": "strip-fences",
      "name": "Strip Markdown Fences",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        400
      ],
      "parameters": {
        "jsCode": "const text = $input.first().json.text;\nif (!text) throw new Error('No content received from Gemini. Check the AI model response.');\n\nlet clean = text.trim();\nif (clean.startsWith('```')) {\n  clean = clean.replace(/^```(?:md|markdown|mdx)?\\n?/, '').replace(/\\n?```$/, '').trim();\n}\n\nlet articleTitle = '';\nconst tm = clean.match(/^title:\\s*(.+)$/m);\nif (tm) articleTitle = tm[1].trim().replace(/^[\"']|[\"']$/g, '');\n\nconst stopWords = new Set(['the','a','an','of','to','in','for','and','or','with','on','your','my','this','that','is','are','be','from','at','by','how','why','what','when','best','top','guide']);\nconst words = (articleTitle || '').toLowerCase().split(/[^a-z0-9]+/).filter(w => w && !stopWords.has(w));\nconst searchKeywords = words.slice(0, 4).join(' ') || 'plant based food';\n\nconst ctx = $('Inject Today\\'s Date').first().json;\n\nreturn [{\n  json: {\n    topic: ctx.topic,\n    rowNumber: ctx.rowNumber,\n    colA: ctx.colA,\n    colB: ctx.colB,\n    colC: ctx.colC,\n    todayDate: ctx.todayDate,\n    articleTitle: articleTitle || ctx.topic,\n    searchKeywords,\n    articleContent: clean\n  }\n}];"
      },
      "onError": "stopWorkflow"
    },
    {
      "id": "push-github",
      "name": "Push Blog to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2048,
        400
      ],
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "accezcloud-sketch"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "veganster"
        },
        "filePath": "={{ 'src/content/blog/' + $json.slug + '.md' }}",
        "fileContent": "={{ $json.articleContent }}",
        "commitMessage": "={{ 'feat: add blog post - ' + $json.topic }}",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "credentials": {
        "githubApi": {
          "id": "dZ6HBZBJmSDSNW9z",
          "name": "GitHub account"
        }
      },
      "onError": "stopWorkflow"
    },
    {
      "id": "prepare-update",
      "name": "Prepare Sheet Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2816,
        400
      ],
      "parameters": {
        "jsCode": "const t = $('Process Unsplash, Generate Slug & Encode').first().json;\nconst row = {};\nrow[t.colA] = t.topic;\nrow[t.colB] = 'used';\nif (t.colC) row[t.colC] = t.todayDate;\nreturn [{json: row}];"
      },
      "onError": "stopWorkflow"
    },
    {
      "id": "update-sheet",
      "name": "Mark Topic as Used",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3072,
        400
      ],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1lai3EIfvYD6t_FLL6uYZKCMAx5-6Yeepgnlh40OVMlo"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "0",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lai3EIfvYD6t_FLL6uYZKCMAx5-6Yeepgnlh40OVMlo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": [
            "={{ $('Process Unsplash, Generate Slug & Encode').first().json.colA }}"
          ],
          "value": {}
        },
        "options": {
          "handlingExtraData": "ignoreIt"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aPlOnNF1lEPwYkVQ",
          "name": "Google Sheets account"
        }
      },
      "onError": "stopWorkflow"
    },
    {
      "id": "output-success",
      "name": "Output Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3328,
        400
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "status",
              "value": "Success",
              "type": "string"
            },
            {
              "id": "s2",
              "name": "topic",
              "value": "={{ $('Process Unsplash, Generate Slug & Encode').first().json.topic }}",
              "type": "string"
            },
            {
              "id": "s3",
              "name": "githubFileUrl",
              "value": "={{ 'https://github.com/accezcloud-sketch/veganster/blob/main/src/content/blog/' + $('Process Unsplash, Generate Slug & Encode').first().json.slug + '.md' }}",
              "type": "string"
            },
            {
              "id": "s4",
              "name": "unsplashImageUrl",
              "value": "={{ $('Process Unsplash, Generate Slug & Encode').first().json.imageUrl }}",
              "type": "string"
            },
            {
              "id": "s5",
              "name": "imageSource",
              "value": "={{ $('Process Unsplash, Generate Slug & Encode').first().json.usedFallback ? 'fallback (Unsplash search failed)' : 'Unsplash search result' }}",
              "type": "string"
            },
            {
              "id": "s6",
              "name": "sheetUpdated",
              "value": "true",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "sticky1",
      "name": "Sticky 1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        200
      ],
      "parameters": {
        "content": "## 1. Schedule Trigger\nRuns automatically every 2 days at 14:00.",
        "width": 280,
        "color": 4
      }
    },
    {
      "id": "sticky2",
      "name": "Sticky 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        220,
        200
      ],
      "parameters": {
        "content": "## 2-3. Read Sheet & Find Pending\nReads from Google Sheets `1lai3EI...OVMlo`, tab **Topics**. Code finds first row where col B = `pending` and stores topic + row metadata.",
        "width": 540,
        "color": 6
      }
    },
    {
      "id": "sticky3",
      "name": "Sticky 3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        760,
        200
      ],
      "parameters": {
        "content": "## 4. Inject Today's Date\nSet node injects `todayDate` in YYYY-MM-DD so the model never guesses the date.",
        "width": 240,
        "color": 6
      }
    },
    {
      "id": "sticky4",
      "name": "Sticky 4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1010,
        200
      ],
      "parameters": {
        "content": "## 5-6. Generate Blog & Strip Fences\nGemini `gemini-2.5-flash-lite-preview-06-17` writes the 700-900 word article with PLACEHOLDER cover fields. Code node strips any markdown fences, extracts title, derives 3-4 search keywords.",
        "width": 520,
        "color": 6
      }
    },
    {
      "id": "sticky5",
      "name": "Sticky 5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1530,
        200
      ],
      "parameters": {
        "content": "## 7-9. Unsplash Fallback Chain + Slug + Encode\nSearch node tries up to 3 Unsplash queries (smart food keyword → broader category → random generic term). If all return empty, picks randomly from a 12-image hardcoded vegan-food pool. Process step replaces UNSPLASH_PLACEHOLDER / CREDIT_PLACEHOLDER / CREDIT_URL_PLACEHOLDER, generates slug (≤60 chars), and base64-encodes content.",
        "width": 520,
        "color": 3
      }
    },
    {
      "id": "sticky6",
      "name": "Sticky 6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2030,
        200
      ],
      "parameters": {
        "content": "## 10. Push to GitHub\nPushes to `accezcloud-sketch/veganster` → `src/content/blog/<slug>.md` on `main`. Uses `stopWorkflow` on error so the sheet is NOT updated if push fails.",
        "width": 480,
        "color": 2
      }
    },
    {
      "id": "sticky7",
      "name": "Sticky 7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3032,
        200
      ],
      "parameters": {
        "content": "## 11. Mark Topic Used\nOnly reached on successful GitHub push. Sets col B = `used`, col C = today's date.",
        "width": 280,
        "color": 5
      }
    },
    {
      "id": "sticky8",
      "name": "Sticky 8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3322,
        200
      ],
      "parameters": {
        "content": "## 12. Output Success\nFinal Set node returns topic, GitHub file URL, Unsplash image URL, image source, and sheet-updated confirmation.",
        "width": 320,
        "color": 5
      }
    },
    {
      "id": "build-fb-message",
      "name": "Build Facebook Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        400
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb-message-001",
              "name": "facebookMessage",
              "value": "={{ '📝 New Blog Post: ' + $('Process Unsplash, Generate Slug & Encode').first().json.articleTitle + '\\n\\n' + (($('Process Unsplash, Generate Slug & Encode').first().json.articleContent.match(/^excerpt:\\s*\"?(.+?)\"?\\s*$/m) || [])[1] || '') + '\\n\\nRead more: https://veganster.com/blog/' + $('Process Unsplash, Generate Slug & Encode').first().json.slug + '\\n\\n#Veganster #Vegan #PlantBased #VeganFood #HealthyLiving #Sustainability' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "post-fb-page",
      "name": "Post Blog to Facebook Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v25.0/1712271652133742/feed",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.facebookMessage }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "facebookGraphApi": {
          "id": "zsb6Cq5PXH4mqw9t",
          "name": "Facebook Veganster Page Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "search-unsplash-fallback",
      "name": "Search Unsplash with Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        400
      ],
      "parameters": {
        "jsCode": "// =============================================================\n// Multi-query Unsplash search with hardcoded image pool fallback.\n// Tries 3 progressively broader queries; if all return empty,\n// picks a random image from a 12-photo pre-curated vegan pool.\n// =============================================================\nconst stripData = $input.first().json;\nconst title = stripData.articleTitle || stripData.topic || '';\n\nconst stopWords = new Set(['the','a','an','of','to','in','for','and','or','with','on','your','my','this','that','is','are','be','from','at','by','how','why','what','when','best','top','guide','should','eat','daily','science','behind','ultimate','complete','beginner','beginners']);\nconst titleWords = title.toLowerCase().split(/[^a-z0-9]+/).filter(w => w && !stopWords.has(w));\n\n// --- Query 1: smart 1-2 word query targeting a food/ingredient ---\nconst foodKeywords = ['protein','quinoa','kale','tofu','tempeh','bean','lentil','rice','oat','chickpea','spinach','broccoli','avocado','smoothie','salad','breakfast','lunch','dinner','meal','soup','curry','pasta','burger','wrap','bowl','vegetable','fruit','berry','nut','seed','grain','bread','dessert','cookie','cake','pizza','tomato','pepper','mushroom','cabbage','carrot','potato','tea','coffee','juice','milk','butter','yogurt','cheese','flax','chia','hemp','almond','walnut','cashew'];\nconst foodMatch = titleWords.find(w => foodKeywords.some(kw => w === kw || w.startsWith(kw)));\nlet smartQuery;\nif (foodMatch) {\n  smartQuery = 'vegan ' + foodMatch;\n} else {\n  smartQuery = (titleWords.slice(0, 2).join(' ') || 'plant based') + ' vegan';\n}\n\n// --- Query 2: broader category-derived term ---\nconst categoryMap = {\n  breakfast: 'vegan breakfast', lunch: 'vegan lunch', dinner: 'vegan dinner',\n  dessert: 'vegan dessert', snack: 'vegan snack', drink: 'smoothie healthy',\n  smoothie: 'smoothie bowl', salad: 'fresh salad', soup: 'vegan soup',\n  bowl: 'plant based bowl', protein: 'plant based protein', proteins: 'plant based protein',\n  inflammation: 'fresh vegetables', inflammatory: 'fresh vegetables',\n  wellness: 'healthy lifestyle', health: 'healthy food', nutrition: 'fresh fruits vegetables',\n  gut: 'fermented vegetables', immune: 'colorful vegetables', energy: 'fresh fruits',\n  iron: 'leafy greens', vitamin: 'fresh vegetables',\n  superfood: 'colorful fruits vegetables', superfoods: 'colorful fruits vegetables',\n};\nlet broaderQuery = 'plant based meal';\nfor (const w of titleWords) {\n  if (categoryMap[w]) { broaderQuery = categoryMap[w]; break; }\n}\n\n// --- Query 3: random pick from guaranteed-result generic terms ---\nconst fallbackTerms = ['vegan food','plant based meal','vegetables fresh','healthy salad','vegan bowl','fruits vegetables','plant based protein','vegan cooking'];\nconst randomTerm = fallbackTerms[Math.floor(Math.random() * fallbackTerms.length)];\n\nconst queries = [smartQuery, broaderQuery, randomTerm];\n\nlet imageUrl = null;\nlet credit = '';\nlet creditUrl = '';\nlet usedQuery = '';\nlet usedFallback = false;\nconst attempted = [];\n\nfor (const q of queries) {\n  attempted.push(q);\n  try {\n    const response = await this.helpers.httpRequestWithAuthentication.call(this, 'httpHeaderAuth', {\n      method: 'GET',\n      url: 'https://api.unsplash.com/search/photos',\n      qs: { query: q, per_page: 1, orientation: 'landscape' },\n      json: true,\n    });\n    if (response && response.results && response.results.length > 0) {\n      const f = response.results[0];\n      if (f.urls && f.urls.regular) {\n        const u = new URL(f.urls.regular);\n        ['w','h','fit','fm','q','crop','cs','ixid','ixlib','auto','dpr'].forEach(p => u.searchParams.delete(p));\n        u.searchParams.set('w', '1200');\n        u.searchParams.set('h', '800');\n        u.searchParams.set('fit', 'crop');\n        u.searchParams.set('fm', 'webp');\n        u.searchParams.set('q', '80');\n        imageUrl = u.toString();\n        const photographerName = (f.user && f.user.name) ? f.user.name : '';\n        const photoUrl = (f.links && f.links.html) ? f.links.html : '';\n        credit = photographerName ? ('Photo by ' + photographerName + ' on Unsplash') : 'Unsplash';\n        creditUrl = photoUrl || 'https://unsplash.com';\n        usedQuery = q;\n        break;\n      }\n    }\n  } catch (e) {\n    // try next query\n  }\n}\n\n// --- Final fallback: pick a random image from a hardcoded pool ---\nif (!imageUrl) {\n  const pool = [\n    { url: 'https://images.unsplash.com/photo-1498837167922-ddd27525d352?w=1200&h=800&fit=crop&fm=webp&q=80', credit: 'Photo by Dan Gold on Unsplash', creditUrl: 'https://unsplash.com/photos/4_jhDO54BYg' },\n    { url: 'https://images.unsplash.com/photo-1490645935967-10de6ba17061?w=1200&h=800&fit=crop&fm=webp&q=80', credit: 'Photo by Brooke Lark on Unsplash', creditUrl: 'https://unsplash.com/photos/08bOYnH_r_E' },\n    { url: 'https://images.unsplash.com/photo-1512621776951-a57141f2eefd?w=1200&h=800&fit=crop&fm=webp&q=80', credit: 'Photo by Brooke Lark on Unsplash', creditUrl: 'https://unsplash.com/photos/W1B2LpQOBxA' },\n    { url: 'https://images.unsplash.com/photo-1505253758473-96b7015fcd40?w=1200&h=800&fit=crop&fm=webp&q=80', credit: 'Photo by Anna Pelzer on Unsplash', creditUrl: 'https://unsplash.com/photos/IGfIGP5ONV0' },\n    { url: 'https://images.unsplash.com/photo-1546069901-ba9599a7e63c?w=1200&h=800&fit=crop&fm=webp&q=80', credit: 'Photo by Brooke Lark on Unsplash', creditUrl: 'https://unsplash.com/photos/HlNcigvUi4Q' },\n    { url: 'https://images.unsplash.com/photo-1467003909585-2f8a72700288?w=1200&h=800&fit=crop&fm=webp&q=80', credit: 'Photo by Brooke Lark on Unsplash', creditUrl: 'https://unsplash.com/photos/jUPOXXRNdcA' },\n    { url: 'https://images.unsplash.com/photo-1493770348161-369560ae357d?w=1200&h=800&fit=crop&fm=webp&q=80', credit: 'Photo on Unsplash', creditUrl: 'https://unsplash.com' },\n    { url: 'https://images.unsplash.com/photo-1540420773420-3366772f4999?w=1200&h=800&fit=crop&fm=webp&q=80', credit: 'Photo on Unsplash', creditUrl: 'https://unsplash.com' },\n    { url: 'https://images.unsplash.com/photo-1490474418585-ba9bad8fd0ea?w=1200&h=800&fit=crop&fm=webp&q=80', credit: 'Photo on Unsplash', creditUrl: 'https://unsplash.com' },\n    { url: 'https://images.unsplash.com/photo-1543339494-b4cd4f7ba686?w=1200&h=800&fit=crop&fm=webp&q=80', credit: 'Photo on Unsplash', creditUrl: 'https://unsplash.com' },\n    { url: 'https://images.unsplash.com/photo-1564834744159-ff0ea41ba4b9?w=1200&h=800&fit=crop&fm=webp&q=80', credit: 'Photo on Unsplash', creditUrl: 'https://unsplash.com' },\n    { url: 'https://images.unsplash.com/photo-1565299585323-38d6b0865b47?w=1200&h=800&fit=crop&fm=webp&q=80', credit: 'Photo on Unsplash', creditUrl: 'https://unsplash.com' },\n  ];\n  const pick = pool[Math.floor(Math.random() * pool.length)];\n  imageUrl = pick.url;\n  credit = pick.credit;\n  creditUrl = pick.creditUrl;\n  usedQuery = '(default pool)';\n  usedFallback = true;\n}\n\nreturn [{\n  json: {\n    ...stripData,\n    imageUrl,\n    credit,\n    creditUrl,\n    usedQuery,\n    usedFallback,\n    attemptedQueries: attempted,\n  }\n}];"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "29E6xavevmwNBwY2",
          "name": "Header Auth account 2"
        }
      },
      "onError": "stopWorkflow"
    },
    {
      "id": "process-prepare",
      "name": "Process Unsplash, Generate Slug & Encode",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        400
      ],
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// --- Replace cover-image placeholders (guarded) ---\nlet content = data.articleContent || '';\ncontent = content.replace(/^(\\s*)\\*\\s+/gm, '$1- '); // normalize * bullets to -\n\nif (!data.imageUrl) {\n  throw new Error('ABORT: no imageUrl set by the Unsplash node — not pushing.');\n}\ncontent = content.split('UNSPLASH_PLACEHOLDER').join(data.imageUrl);\ncontent = content.split('CREDIT_PLACEHOLDER').join(data.credit || 'Unsplash');\ncontent = content.split('CREDIT_URL_PLACEHOLDER').join(data.creditUrl || 'https://unsplash.com');\n\n// --- GUARD: no placeholder may survive into the committed file ---\nif (/UNSPLASH_PLACEHOLDER|CREDIT_PLACEHOLDER|CREDIT_URL_PLACEHOLDER/.test(content)) {\n  throw new Error('ABORT: cover-image placeholders were not fully replaced — not pushing.');\n}\n\n// --- Build a safe slug ---\nconst title = (data.articleTitle || data.topic || '').toString().trim();\nif (!title) {\n  throw new Error('ABORT: no article title or topic to build a slug from — not pushing.');\n}\nlet slug = title.toLowerCase()\n  .replace(/&/g, ' and ')\n  .replace(/['’]/g, '')            // drop apostrophes: \"beginner's\" -> \"beginners\"\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-+|-+$/g, '');\n\n// Only truncate if genuinely long, and never mid-word\nif (slug.length > 80) {\n  const cut = slug.slice(0, 80);\n  const lastHyphen = cut.lastIndexOf('-');\n  slug = (lastHyphen > 30 ? cut.slice(0, lastHyphen) : cut).replace(/-+$/, '');\n}\n\n// --- GUARD: slug must be valid ---\nif (!slug || slug === 'undefined' || slug === 'null') {\n  throw new Error('ABORT: invalid slug (\"' + slug + '\") for title: ' + title);\n}\n\nconst encodedContent = Buffer.from(content, 'utf-8').toString('base64');\n\nreturn [{\n  json: {\n    topic: data.topic,\n    rowNumber: data.rowNumber,\n    colA: data.colA,\n    colB: data.colB,\n    colC: data.colC,\n    todayDate: data.todayDate,\n    articleTitle: data.articleTitle,\n    slug,\n    imageUrl: data.imageUrl,\n    credit: data.credit,\n    creditUrl: data.creditUrl,\n    usedFallback: data.usedFallback,\n    usedQuery: data.usedQuery,\n    articleContent: content,\n    encodedContent,\n  }\n}];\n"
      },
      "onError": "stopWorkflow"
    },
    {
      "id": "schedule-trigger",
      "name": "Schedule Every 2 Days at 15:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        400
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 2,
              "triggerAtHour": 15
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Read Veganster Topics": {
      "main": [
        [
          {
            "node": "Find First Pending Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find First Pending Topic": {
      "main": [
        [
          {
            "node": "Inject Today's Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Today's Date": {
      "main": [
        [
          {
            "node": "Generate Veganster Blog with Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Veganster Blog with Gemini",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Veganster Blog with Gemini": {
      "main": [
        [
          {
            "node": "Strip Markdown Fences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Update": {
      "main": [
        [
          {
            "node": "Mark Topic as Used",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Topic as Used": {
      "main": [
        [
          {
            "node": "Output Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push Blog to GitHub": {
      "main": [
        [
          {
            "node": "Build Facebook Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Facebook Message": {
      "main": [
        [
          {
            "node": "Post Blog to Facebook Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Blog to Facebook Page": {
      "main": [
        [
          {
            "node": "Prepare Sheet Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strip Markdown Fences": {
      "main": [
        [
          {
            "node": "Search Unsplash with Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Unsplash with Fallback": {
      "main": [
        [
          {
            "node": "Process Unsplash, Generate Slug & Encode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Unsplash, Generate Slug & Encode": {
      "main": [
        [
          {
            "node": "Push Blog to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Every 2 Days at 15:00": {
      "main": [
        [
          {
            "node": "Read Veganster Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "954f2921-57c8-4a59-9ff6-def0eae38aa6",
  "meta": null,
  "id": "cohLRog8NMWmZpDo",
  "tags": [],
  "pinData": {}
}
